<!doctype html>
<html>
    <head>
        <title>Восстановление пароля</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <form
            class="password-reset-confirm__form"
            action="/api/auth2/password/reset/confirm/"
            method="POST"
        >
            {% csrf_token %}
            <label class="password-reset-confirm__label">
                Введите новый пароль:
                <input
                    type="password"
                    name="new_password"
                />
            </label>
            <input
                type="hidden"
                name="uid"
                value="{{ uid }}"
            />
            <input
                type="hidden"
                name="token"
                value="{{ token }}"
            />
            <input
                type="submit"
            >
            </input>
        </form>
    </body>
</html>
